<h2 id="title">Ember Data Power Select</h2>
<p>Extends <a href="https://ember-power-select.com/" target=_blank>ember-power-select</a></p>
<p>Integrate into Ember-Data. The search function will do a "store.query(modelName, queryArgs)" by default</p>

<pre style="background: #f9f9f9">
  &#123;&#123;#data-power-select
    modelName='user'
    queryArgs=(hash limit=10)
    as |user|
  &#125;&#125;
    &#123;&#123;user.name&#125;&#125;
  &#123;&#123;/data-power-select&#125;&#125;
  <br>
</pre>
{{#data-power-select
  allowClear=true
  modelName='user'
  onchange=(action (mut selected))
  queryArgs=(hash results=10)
  selected=selected
  placeholder="Search Users..."
  as |user|
}}
  <img src="{{user.picture.thumbnail}}">
  <div style="display: inline-block">
    <span>{{user.fullName}}</span><br/>
    <span>{{user.email}}</span>
  </div>
{{/data-power-select}}